* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  margin-top: 10rem;
  color: aliceblue;
  font-size: 40px;
  font-family: "Nunito";
}

.site-title {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #ad88c6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li.active {
  background-color: #e1afd1;
}
.nav li:hover {
  background-color: #7469b6;
}

.bookSearch {
  color: black;
  list-style-type: none;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  margin: 10rem;
}
.searchBar {
  height: 3rem;
  width: 30rem;
}
::placeholder {
  color: gray;
}

.allResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Read List */
.readListContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 5px solid #e1afd1;
  border-radius: 10px;
  width: 40rem;
  display: flex;
  flex-direction: row;
  background: white;
  margin-bottom: 10px;
}

.deleteButton {
  cursor: pointer;
}

/* Search Results */
.searchResultsContainer {
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 5px solid #e1afd1;
  border-radius: 10px;
  width: 40rem;
  display: flex;
  flex-direction: row;
  background: white;
  margin-bottom: 10px;
}

.searchResult {
  margin: 10px;
  text-align: left;
}

.searchBookImg {
  width: 100px;
  max-height: 200px;
  margin-left: 3rem;
  display: block;
}

.searchResultbookDetail {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: "bold";
}

/* Chosen Book */
.chosenBookContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 5px solid white;
  border-radius: 10px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #e1afd1, #ffe6ef);
}

.chosenBookImg {
  max-width: 200px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.chosenBookDetailContainer {
  text-align: center;
}
.chosenBookDetail {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
}
.chosenBookButtonContainer {
  margin-top: 2rem;
}

.chosenBookButton {
  background-color: #ad88c6;
  color: white;
  font-family: "Nunito";
  font-size: large;
  margin-top: 2rem;
  margin-right: 3rem;
  padding: 10px;
}

.heading {
  text-align: center;
  font-family: "Yellowtail", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: #ad88c6;
}

.signInButton {
  background-color: #e1afd1;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 1rem;
  width: 150px;
  height: 50px;
  margin-top: 5rem;
  font-family: "Nunito";
}

.signInPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.addBookButton {
  margin-top: 5rem;
  background-color: #ad88c6;
  color: white;
  width: 150px;
  height: 40px;
  font-family: "Nunito";
}

.categoryButton {
  background-color: #ad88c6;
  color: white;
  width: 200px;
  height: 40px;
  margin-left: 5rem;
  font-family: "Nunito";
}

.saveButton {
  font-weight: bold;
  background-color: #ad88c6;
  color: white;
  width: 80px;
  height: 40px;
  margin-top: 1rem;
  font-family: "Nunito";
}

/* Date Selection */
.dateSelectionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dateLabel {
  font-weight: bold;
  margin-right: 20px;
}

.datePartLabel {
  margin-right: 10px;
}

.datePartSelect {
  margin-right: 10px;
  background-color: Pink;
}

.backButton {
  font-weight: bold;
  background-color: #ffe6ef;
  color: #7469b6;
  width: 80px;
  height: 40px;
  margin-left: 3rem;
  font-family: "Nunito";
}

.page {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: large;
}
